.header{
    color: rgb(246, 246, 250);
   display:flex;
   justify-content: space-around;
   

}
  .title{
font-size: large;
display: flex;
flex-direction: row;
justify-content: space-around;
  }
  .Search{
      display:flex;
      justify-content: space-around;
  }
  .Zillow{
padding: 5px;
  }