.header{
    color: rgb(246, 246, 250);
   display:flex;
   justify-content: space-around;
   

}
  .title{
font-size: large;
  }
  .Search{
      display:flex;
      justify-content: space-around;
  }