* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  /*background-image: url("https://image.shutterstock.com/image-vector/real-estate-background-vector-illustration-260nw-594175655.jpg");
  background-color: #f3d3d3;*/
  
}

body {
  display: flex;
  flex-direction: row;
   flex-wrap:wrap; 
  /* align-items: center; */
  justify-content: space-around;
  
  
}
.homes {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  /* align-items: center; */
  justify-content: space-around;
  
  
}
.Header{
  /* border: 1px,solid,black;
  margin: 40px;
  
  color: blue;
  height: 100px; */
  width: 100vw;
  height: 100px;
  padding: 50px;
  border: 3px solid rgb(8, 8, 8);
 background-color: rgb(149, 147, 147);
}
.Style{
  background: url(https://img.freepik.com/free-vector/abstract-organic-lines-background_1017-26669.jpg?size=626&ext=jpg);
  background-size: auto;
}